<div>
	<div>Join code: {{gameplay.code}}</div>

	<wselect
		(modelChange)="
			gameplay.world = $event;
			mfs.load(gameplay);
			config()
		"
		*ngIf="mfs.worlds?.length"
		[select]="gameplay.world"
		[items]="mfs.worlds"
	></wselect>

	<wselect
		(modelChange)="
			gameplay.story = $event;
			config()
		"
		*ngIf="mfs.rootStories?.length"
		[select]="gameplay.story"
		[items]="mfs.rootStories"
	></wselect>

	<wselect
		(modelChange)="
			gameplay.mana = $event;
			config()
		"
		[select]="gameplay.mana"
		[items]="['Author', 'Average', 'Round']"
	></wselect>

	<div>
		<h2>Players</h2>
		<div
			*ngFor="let playerId of gameplay.moderators"
			[class.joined]="player(playerId)"
		>
			<!-- replace default.png with proper icon -->
			<img
				[src]="mfs.hero[player(playerId).hero]?.thumb ? url + mfs.hero[player(playerId).hero]?.thumb : '/assets/default.png'"
				[alt]="
					player(playerId).name ||
					us.doc(playerId).name ||
					us.doc(playerId).email
				"
				style="height: 50px"
			/>

			<span
				>{{player(playerId).name || us.doc(playerId).name ||
				us.doc(playerId).email}}
			</span>
		</div>
	</div>

	<winput
		label="Your name"
		placeholder="Fill your name"
		(wChange)="name = $event.toString(); configAfterWhile()"
		[value]="name"
	></winput>

	<div *ngFor="let _hero of mfs.heroes" (click)="hero = _hero._id; config()">
		<img
			[src]="_hero.thumb ? url + _hero.thumb : '/assets/default.png'"
			[alt]="_hero.name"
			style="height: 50px"
		/>
		<span>{{_hero.name}}</span>
	</div>

	<wbutton (click)="start()">Start</wbutton>
</div>
